body {
  display: flex;
  font-family: helvetica;
  height: 80vh;
  background-color: black;
  font-family: Arial;
}

#canvas {
  background-color: transparent;
  position: relative;
}

button {
  background-color: #2dabf9;
  display: flex;
  cursor: pointer;
  color: #ffffff;

  font-size: 20px;
  padding: 17px 69px;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 20px;
  justify-content: center;
  width: 75%;
}

button:hover {
  background-color: #0688fa;
}

.left-content {
  width: 33.3333333%;
  display: flex;
  justify-content: center;
  border-color: white 5px solid;
  color: black;
  font-weight: bold;
  align-items: center;
}

.buttons-div {
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
}

.middle-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33.3333333%;
  align-items: center;
  color: black;
}

.right-content {
  width: 33.3333333%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons {
  background-color: black;
  font-size: 5.5em;
}

.icons li {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

a:link {
  text-decoration: none;
  color: #2dabf9;
}

a:visited {
  text-decoration: none;
  color: #2dabf9;
}

a:hover {
  text-decoration: underline;
  color: #0688fa;
}

a:active {
  text-decoration: underline;
  color: #0688fa;
}

.author-container {
  color: white;
}

.title-content {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.author-content {
  text-align: center;
  justify-content: center;
}
